@model SEIBK.Web.Models.Account

@{
    ViewBag.Title = "AccountDetails";
}

<h2>AccountDetails</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverdrawLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverdrawLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstatementSub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatementSub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
